//Colors
$primary: #178ce6;
$dark-blue: #0e185f;
$light-blue: #35d8f5;
$dark-grey: rgb(70, 70, 70);
$light-green: #e8ffc2;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$black-shadow: rgba(255, 255, 255, 0.1);
